.container-fluid {
  color: white;
  font-family: "lato";

  p {
    line-height: 25px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0 20px;
    font-size: 14px;
    height: 115px;
    padding-top: 10px;
  }

  .sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

  }

  .image {
    float: right;
    vertical-align: middle;
    border-left: 2px solid white;
    padding-left: 15px;
  }

}

@media screen and (max-width: 640px) {
  body {
    width: 25%;
  }
}
